/* ============================================= */
/*              Color Variables                  */
/* ============================================= */

$divider-color: hsl(240, 5%, 91%);
$text-color: hsl(238, 29%, 16%);
$answer-txt: hsl(240, 6%, 50%);
$hover-state: hsl(14, 88%, 65%);