/* ============================================= */
/*              Main Styles                      */
/* ============================================= */

.question-container {
    position: relative;
    background-color: #fff;
    width: 90%;
    margin: auto;
    border-radius: 25px;
    padding-bottom: 50px;
    margin-bottom: 30px;
    margin-top: 130px;
    h1 {
        text-align: center;
        padding-top: 160px;
        font-weight: 700;
        font-size: 2.3em;
    }
    .question-wrapper {
        margin: 0 15px 0 15px;
        border-bottom: 1px solid $divider-color;
    }
    .question {
        display: flex;
        align-items: center;
        svg {
            margin-left: auto;
        }
    }
}

#woman {
    position: absolute;
    z-index: 2;
    left: 10%;
    top: -80px;
}

#shadow {
    position: absolute;
    z-index: 1;
    left: 18%;
    top: 25px;
}