/* ============================================= */
/*              Base styles                      */
/* ============================================= */

  * {
      font-family: 'Kumbh Sans', sans-serif;
      box-sizing: border-box;
      font-weight: 400;
      font-size: 15px;
    }
    
    p {
      line-height: 1.45em;
      color: $text-color;
    }

    h1 {
      color: $text-color;
    }
    
    a {
      text-decoration: none;
    }
  

  /* ============================================= */
  /*              Typography                       */
  /* ============================================= */
